body{
    margin: 0;
    padding: 0;
    background-color: $light;
}

%box-layout{
    padding: 20px;
    width: 100%;
}

.header{
    @extend %box-layout;
    height: 80px;
    font-size: 1.2rem;
    background-color: $primary;

    span{
        img{
            height: 60px;
            cursor: pointer;
            margin-top: -10px;
        }
    }

    &_menu{
        list-style-type: none;
        text-decoration: none;
        color: $light;
        float: right;
        & div{
            float: left;
            padding-left: 20px;
        }

        .menu_items{
            text-decoration: none;
            color: $light;
            font-weight: 600;
            &:hover{
                text-decoration: underline 2px;
            }
        }
    }
    position: sticky;
    top: 0px;
    z-index: 10;
}

.about_us{
    @extend %box-layout;
}


.footer{
    @extend %box-layout;
    background-color: $dark;
    color: #fff;
    height: 40vh;
}

/* Filter Process */
#filter_process{
    padding: 20px;
    height: 80px;
}

/* Styling the Gallery */


/* Adding The Classes for the social media links */
.social_links i{
    padding: 5px;
    font-size: 3rem;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    cursor: pointer;
    transition: .5s;
}
.fa-instagram:hover {
    color: #8a3ab9;
}
.fa-youtube:hover {
    color: #bb0000;
}
.fa-facebook:hover {
    color: #3B5998;
}
.fa-twitter:hover {
    color: #55ACEE;
}
.fa-linkedin:hover {
    color: #007bb5;
}

/* End of Social links styling */