.new_car{
    max-width: 1080px;
    margin: auto;
    background-color: #615e5e;
    img{
        max-width: 720px;
        margin: auto;
        // max-height:800px;
    }
}

.contactPage{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../img/img_audi_q7_02.jpg");
    min-height: 80vh;
    color: wheat;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}