#showroom{
    padding: 2rem;
    

    .car_img{
        margin: auto;
        height: auto;
        width: 100%;
    }
}

.brand{
    margin: 1rem auto;
   @media only screen and (max-width: 520px){
    &_name{
        display: none;
    }
   }
}

.brand_img{
    width: 100%;
    height: 110px;
    padding: 10px;
    margin-bottom: 1rem;
    background-color: $accent;
    img{
        height: 90px;
        width: 90px;
        float: left;
    }
    span{
        height: 100px;
        color: $light;
        font-size: 4rem;
        padding-left: 30px;
    }
}

.tile{
    color: #f3f2fc;
    margin-bottom: 10px;
}



.description{
    background-color: #bdc3c7;
    padding: 15px;
}

#radioField{
    background-color: $light;
}